@import 'src/themes';

:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background-color: map-get($map: $theme, $key: back);
  box-shadow: 0 0 1rem map-get($map: $theme, $key: shadow);
}