@import 'src/themes';
@import 'src/mixins';

:host {
  @include interactive(map-get($map: $theme, $key: front));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 1rem;
  padding: .25rem;
  color: map-get($map: $theme, $key: front);
  transform: scale(1);
  outline: none;
  user-select: none;
  box-shadow: 0 0 2px opacify(map-get($theme, shadow), .3);
  margin: 5px;
}

:host:not([tabindex]) {
  color: map-get($map: $theme, $key: back);
  pointer-events: none;
}