@import 'src/themes';

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 1rem;
  color: map-get($map: $theme, $key: front);
}

[key] {
  flex-shrink: 1;
  flex-grow: 0;
  background-color: map-get($map: $theme, $key: shadow);
  margin-right: .5rem;
  padding: .5rem;
}

[val] {
  margin-left: .5rem;
  flex-shrink: 1;
  flex-grow: 1;
}