<ng-container *ngIf="action" [ngSwitch]="true">
  <ng-container *ngSwitchCase="['add', 'multiply'].includes(action.type)">
    <brs-input
      #key
      key
      i18n-placeholder
      placeholder="key"
      (focus$)="$event || patch(action, { key: key.value })"
      [focus]="key.focus$ | startwith : false | async"
      [caret]="key.caret$ | async"
      [value]="key.value$ | startwith : (action.key || '') | nolinebreaks | async">
    </brs-input>:<brs-input
      #val  
      val
      i18n-placeholder
      placeholder="number"
      (focus$)="$event || patch(action, { value: val.value })"
      [focus]="val.focus$ | startwith : false | async"
      [caret]="val.caret$ | async"
      [value]="val.value$ | startwith : action.value | numeric | async"></brs-input>
  </ng-container>
  <ng-container *ngSwitchCase="['pop', 'push'].includes(action.type)">
    <brs-input
      #key
      key
      i18n-placeholder
      placeholder="key"
      (focus$)="$event || patch(action, { key: key.value })"
      [focus]="key.focus$ | startwith : false | async"
      [caret]="key.caret$ | async"
      [value]="key.value$ | startwith : (action.key || '') | nolinebreaks | async">
    </brs-input>:<brs-multivalue
      #val
      val
      i18n-placeholder
      placeholder='value'
      (focus$)="$event || patch(action, { value: val.value })"
      [focus]="val.focus$ | startwith : false | async"
      [value]="val.value$ | startwith : (action.value || []) | async"
      [searching]="val.searching$ | async"
      [emphasized]="val.emphasized$ | async"></brs-multivalue>
  </ng-container>
  <ng-container *ngSwitchCase="['set', 'delete'].includes(action.type)">
    <brs-input
      #key
      key
      i18n-placeholder
      placeholder="key"
      (focus$)="$event || patch(action, { key: key.value })"
      [focus]="key.focus$ | startwith : false | async"
      [caret]="key.caret$ | async"
      [value]="key.value$ | startwith : (action.key || '') | nolinebreaks | async">
    </brs-input>:<brs-input
      #val
      val
      i18n-placeholder
      placeholder="value"
      (focus$)="$event || patch(action, { value: val.value })"
      [focus]="val.focus$ | startwith : false | async"
      [caret]="val.caret$ | async"
      [value]="val.value$ | startwith : (action.value || '') | nolinebreaks | async"></brs-input>
  </ng-container>
  <ng-container *ngSwitchCase="['negate'].includes(action.type)">
    <brs-input
      #key
      key
      i18n-placeholder
      placeholder="key"
      (focus$)="$event || patch(action, { key: key.value })"
      [focus]="key.focus$ | startwith : false | async"
      [caret]="key.caret$ | async"
      [value]="key.value$ | startwith : (action.key || '') | nolinebreaks | async"></brs-input>
  </ng-container>
  <ng-container *ngSwitchCase="['link'].includes(action.type)">
    Scene&nbsp;<brs-input
      #val
      i18n-placeholder
      placeholder="scene id"
      (focus$)="$event || patch(action, { value: val.value })"
      [focus]="val.focus$ | startwith : false | async"
      [caret]="val.caret$ | async"
      [value]="val.value$ | nolinebreaks | startwith : action.value | numeric | async"></brs-input>
  </ng-container>
</ng-container>