@import 'src/themes';

:host {
  padding: .5rem;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: map-get($map: $theme, $key: shadow);
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

:host([caption]) {
  position: relative;
  padding-top: 2rem;
  &:before {
    content: attr(caption);
    text-align: center;
    font-size: 1rem;
    color: map-get($map: $theme, $key: front);
    background-color: transparentize($color: map-get($map: $theme, $key: shadow), $amount: .1);
    padding: .25rem;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }
}
