@import 'src/themes';

:host {
  background-color: map-get($theme, back);
  color: map-get($map: $theme, $key: front);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
