@import 'src/themes';

:host {
  background-color: map-get($theme, back);
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 0 1rem map-get($map: $theme, $key: shadow);
}
