@import 'src/themes';

:host {
  position: relative;
  padding: .5rem 0;

  &:after {
    content: '';
    border-color: map-get($theme, shadow);
    border-style: solid;
    border-width: 0 0 1px 0;
    position: absolute;
    top: 100%;
    left: 10%;
    right: 10%;
  }
}
