@import 'src/themes';

:host {
  display: grid;
  grid-template-columns: min-content auto min-content;
  align-items: stretch;
  align-content: center;
  grid-auto-rows: auto;
  flex-direction: row;
  justify-content: stretch;

  [head] {
    font-size: 1rem;
    color: map-get($map: $theme, $key: front);
    font-weight: 500;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: map-get($map: $theme, $key: front);
    margin: .25rem;

    &[type] {
      text-align: right;  
      padding: .5rem;
    } 

    &[payload] {
      text-align: center;
      padding: .5rem;
    }
  }

  [cell] {
    margin: .25rem;
 
    &[type] {
      font-size: 1rem;
      color: map-get($map: $theme, $key: front);
      padding: .5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
    }
  }

  [lastrow] {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: map-get($map: $theme, $key: front);
    margin: .25rem;
    padding-top: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    brs-input {
      margin: .5rem;
    }
  }
}