<span i18n head type>Type</span>
<span i18n head payload>Payload</span>
<span i18n head ops></span>

<ng-container *ngFor="let guard of guards">
  <brs-guard-type>{{gurad.type}}</brs-guard-type>

  <brs-guard-payload
    cell
    #editor
    [guard]="guard"
    (guard$)="patch(guard, $event)"></brs-guard-payload>

  <brs-action
    cell
    icon=remove
    [focused]="delete.focused$ | async"
    #delete
    (activated$)="unguard(guard)"></brs-action>

</ng-container>

<div lastrow>
  <brs-input
    #type
    i18n-placeholder
    placeholder="type"
    [focus]="type.focus$ | async"
    [caret]="type.caret$ | async"
    [value]="type.value$ | async"></brs-input>
</div>

<div lastrow>
  <brs-guard-payload
    #adder
    [guard]="adder.guard$ | startwith : { type: type.value } | async"></brs-guard-payload>
</div>

<div lastrow>
  <brs-action
    #add
    icon=add
    [disabled]="adder.guard | invalid"
    [focused]="add.focused$ | async"
    (activated$)="append(adder.guard)"></brs-action>
</div>