<div content #content>
  <ng-container *ngFor="let range of state | scenes; let i = index; trackBy: trackRange">
    <brs-gap
      vertical 
      (pointerup)="dragscene && movescene(dragging, i)"
      (pointerup)="dragpiece && isolatePiece(dragging, i)"
      (activated$)="newcol(i)"></brs-gap>

    <div range>
      <ng-container *ngFor="let scene of range; let j = index; last as isLast; trackBy: trackScene">
        <brs-gap
          (pointerup)="dragscene && movescene(dragging, i, j)"
          (pointerup)="dragpiece && isolatePiece(dragging, i, j)"
          (activated$)="newscene(i, j)"></brs-gap>

        <brs-scene
          #scn
          [gotoanchor]="scene.id"
          (pointerup)="dragpiece && movepiece(dragging, scene.id)"
          (dragstart)="movestart(scene.id, $event)"
          [class.dragging]="dragging === scene.id"
          [class.focused]="scene | infocus : focused"
          [id]="scene.id">
  
          <brs-scene-piece
            notahandle
            *ngFor="let piece of scene.pieces; trackBy: trackPiece"
            [class.focused]="focused === piece.id"
            [class.dragging]="dragging === piece.id"
            [class.statechanger]="piece.actions.length > 0"
            (contextmenu)="$event.preventDefault() || $event.stopPropagation() || focused$.emit(focused === piece.id ? null : piece.id)"
            (dragstart)="movestart(piece.id, $event)"
            [id]="piece.id"
            [summary]="piece.summary"
            [guards]="piece.guards"
            [actions]="piece.actions"></brs-scene-piece>

        </brs-scene>
      </ng-container>
      <brs-gap
        (pointerup)="dragscene && movescene(dragging, i, range.length)"
        (pointerup)="dragpiece && isolatePiece(dragging, i, range.length)"
        (activated$)="newscene(i, range.length)"></brs-gap>

    </div>
  </ng-container>

  <brs-gap
    vertical
    (pointerup)="dragscene && movescene(dragging, state.layout.length)"
    (pointerup)="dragpiece && isolatePiece(dragging, state.layout.length)"
    (activated$)="newcol(state.layout.length)"></brs-gap>
</div>
