@import 'src/themes';
:host {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: move;

  [content] {
    display: flex;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    background-image: url("/assets/fabric.png"), url("/assets/scratches.png");
    background-size: 200pt, 100vmin;
    background-position: 0 0, 0 0;
    background-repeat: repeat, repeat;
    background-attachment: local, local;
    background-blend-mode: multiply, multiply;
    background-color: map-get($map: $theme, $key: accent1);
    border-style: solid;
    border-width: 1rem;
    border-color: map-get($map: $theme, $key: shadow);
    padding: 30vh 50vw;
    box-sizing: border-box;

    > brs-gap {
      align-self: stretch;

      &:last-child {
        padding-right: 5rem;
      }
    }
    
    [range] {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start;
      width: 36rem;
      min-width: 36rem;
      max-width: 36rem;
      flex-shrink: 1;
      flex-grow: 1;
    }

  }

  &.scenedragging brs-scene {
    pointer-events: none;
    transition: none;

    &:not(.dragging) {
      opacity: .5;
      transform: scale(.98);
      transition: opacity .2s, transform .3s ease-in-out;
    }

    &.dragging {
      position: relative;
      z-index: 1;
    }
  }

  &.piecedragging brs-scene {
    opacity: .5;
    transform: scale(.98);
    transition: opacity .2s, transform .3s ease-in-out;

    &:hover {
      opacity: 1;
      transform: none;
      transition: none;
    }

    brs-scene-piece {
      pointer-events: none;
    }
  }

  &.scenedragging brs-gap:hover,
  &.piecedragging brs-gap:hover {
    background-color: transparentize($color: map-get($map: $theme, $key: front), $amount: .7);
  }

  brs-scene-piece.focused {
    position: relative;
    z-index: 1;
    outline-color: transparentize($color: map-get($map: $theme, $key: accent3), $amount: .3);
    outline-style: solid;
    outline-width: .25rem;
  }

  brs-scene-piece:not(.statechanger) {
    order: 0;
  }

  brs-scene-piece.statechanger {
    order: 1;
  }

  brs-scene {
    opacity: 1;
    transition: opacity .2s, transform .3s ease-in-out;
  }
}