@import 'src/themes';

:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-color: map-get($map: $theme, $key: 'shadow');
  margin: .5rem;
  transition: background-color .2s;

  &:hover {
    background-color: map-get($map: $theme, $key: shadow);
    transition: none;
  }

  [heading] {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    font-size: 1rem;
    color: map-get($map: $theme, $key: front);
    padding: .5rem;
    white-space: pre-line;

    &:empty:after {
      content: attr(placeholder);
      opacity: .5;
    }
  }

  [ops] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: .1rem;

    brs-guard, brs-action {
      margin: .15rem;
    }
  }

  &.modifier {
    border-color: map-get($map: $theme, $key: back);
    background-color: map-get($map: $theme, $key: shadow);
    
    &:hover {
      background-color: opacify($color: map-get($map: $theme, $key: shadow), $amount: .2);
    }
  }
}
