<div heading i18n-placeholder placeholder="Enter piece description here">{{summary || ''}}</div>
<div ops>
  <brs-guard *ngFor="let guard of guards" [conf]="guard"></brs-guard>
  <brs-action *ngFor="let action of actions" [conf]="action"></brs-action>
</div>
