<ng-container *ngIf="guard" [ngSwitch]="true">
  <ng-container *ngSwitchCase="['lt', 'lte', 'gt', 'gte'].includes(guard.type)">
    <brs-input
      #key
      key
      i18n-placeholder
      placeholder="key"
      (focus$)="$event || patch(guard, { key: key.value })"
      [focus]="key.focus$ | startwith : false | async"
      [caret]="key.caret$ | async"
      [value]="key.value$ | startwith : (guard.key || '') | nolinebreaks | async"></brs-input>:<brs-input
      #val  
      val
      i18n-placeholder
      placeholder="number"
      (focus$)="$event || patch(guard, { value: val.value })"
      [focus]="val.focus$ | startwith : false | async"
      [caret]="val.caret$ | async"
      [value]="val.value$ | startwith : guard.value | numeric | async"></brs-input>
  </ng-container>
  <ng-container *ngSwitchCase="['allin', 'allout', 'somein', 'someout'].includes(guard.type)">
    <brs-input
      #key
      key
      i18n-placeholder
      placeholder="key"
      (focus$)="$event || patch(guard, { key: key.value })"
      [focus]="key.focus$ | startwith : false | async"
      [caret]="key.caret$ | async"
      [value]="key.value$ | startwith : (guard.key || '') | nolinebreaks | async"></brs-input>:<brs-multivalue
      #val
      val
      i18n-placeholder
      placeholder='value'
      (focus$)="$event || patch(guard, { value: val.value })"
      [focus]="val.focus$ | startwith : false | async"
      [value]="val.value$ | startwith : (guard.value || []) | async"
      [searching]="val.searching$ | async"
      [emphasized]="val.emphasized$ | async"></brs-multivalue>
  </ng-container>
  <ng-container *ngSwitchCase="['eq', 'neq'].includes(guard.type)">
    <brs-input
      #key
      key
      i18n-placeholder
      placeholder="key"
      (focus$)="$event || patch(guard, { key: key.value })"
      [focus]="key.focus$ | startwith : false | async"
      [caret]="key.caret$ | async"
      [value]="key.value$ | startwith : (guard.key || '') | nolinebreaks | async"></brs-input>:<brs-input
      #val
      val
      i18n-placeholder
      placeholder="value"
      (focus$)="$event || patch(guard, { value: val.value })"
      [focus]="val.focus$ | startwith : false | async"
      [caret]="val.caret$ | async"
      [value]="val.value$ | startwith : (guard.value || '') | nolinebreaks | async"></brs-input>
  </ng-container>
</ng-container>