@import 'src/themes';

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  color: map-get($map: $theme, $key: 'front');
  border-style: solid;
  border-width: 1px;
  border-color: map-get($map: $theme, $key: 'shadow');
  padding: .5rem .5rem 0 .5rem;
  
  div {
    margin-right: .5rem;
  }
}