@import "src/themes";

@mixin resetParagraphSettings() {
  text-rendering: optimizeSpeed;
  font-size: 1rem;
  line-height: 1.3;
  font-family: inherit;
  font-weight: inherit;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  display: block;
}

:host {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

textarea, [value] {
  @include resetParagraphSettings;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: transparent;
  border: none;
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

textarea {
  overflow: hidden;
  color: map-get($map: $theme, $key: front);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  resize: none;
}

[value] {
  position: relative;
  color: transparent;
}
