@import 'src/themes';

:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background-color: map-get($map: $theme, $key: back);
  padding: .5rem;

  [actions] {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;

    div {
      font-size: 1rem;
      color: map-get($map: $theme, $key: front);
      border-color: map-get($map: $theme, $key: front);
      border-style: solid;
      border-width: 1px;
      padding: .5rem;
      margin: .5rem .5rem auto .5rem;
      transition: background-color .2s;
      background-color: map-get($map: $theme, $key: shadow);
      cursor: pointer;
      text-align: center;
      order:1;
      margin: auto .5rem .5rem .5rem;

      &:hover {
        background-color: opacify(map-get($map: $theme, $key: shadow), .2);
        transition: none;
      }
    }
  }

  [descs] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    margin-bottom: 1rem;

    div {
      font-size: 1rem;
      color: map-get($map: $theme, $key: front);
      padding: .5rem;
      margin: .5rem;
      transition: background-color .2s;
    }
  }
}
