<div descs>
  <div
    *ngFor='let piece of pieces | descs'
    (click)="piece.action && state$.emit(piece.action(state))">{{piece.description}}</div>
</div>
<div actions>
  <div
    *ngFor='let piece of pieces | mutators | piecesguard : state'
    (click)="piece.action && state$.emit(piece.action(state))">{{piece.description}}</div>
</div>
