@import 'src/themes';
@import 'src/mixins';

:host {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;

  &:after {
    content: '';
    position: fixed;
    z-index: 1;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: radial-gradient(ellipse at center, rgba(255,255,255,.5) 0%, rgba(0,0,0,.8) 100%);
    background-size: 200vw 200vh;
    background-position: -50vw -100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    mix-blend-mode: overlay;
    pointer-events: none;
  }

  brs-statusbar {
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    z-index: 1;

    [gotoscene] {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: flex-start;
      position: relative;
      
      brs-input {
        white-space: nowrap;
        position: absolute;
        background-color: map-get($map: $theme, $key: back);
        opacity: 0;
        transform: translateX(1rem);
        transition: opacity .2s ease-in-out, transform .2s ease-in-out;
        left: 100%;
        top: 0;
        bottom: 0;
        box-shadow: 0 0 1rem map-get($map: $theme, $key: shadow);
        padding: .5rem;
      }

      &:focus-within,
      &:hover {
        brs-input {
          opacity: 1;
          transform: none;
        }
      }
    }
  }

  brs-contextpanel {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    box-shadow: 0 0 1rem map-get($map: $theme, $key: shadow);
    max-width: 40vw;
    overflow-y: auto;

    brs-links-editor {
      width: 100%;
    }
  }

  brs-canvas {
    display: block;
  }
}

:host(:not(.undoable)) [interactive][undo],
:host(:not(.redoable)) [interactive][redo],
:host(:not(.clearable)) [interactive][clear] {
  pointer-events: none;
  opacity: .4;
}
