<div tabindex=1 #nofocus></div>
<!-- Special element for blurring in case of closing ctx panel. This action causes all uncompleted modifications to complete. -->

<brs-canvas
  #canvas
  (state$)="cqrs.apply($event)"
  [state]="state | async"
  [focused]="canvas.focused$ | startwith : null | async"
  (focused$)="$event || nofocus.focus()"
  [offset]="canvas.offset$ | startwith : [0, 0] | async"
  [dragging]="canvas.dragging$ | startwith : false | async"
  (keydown.control.z)="undo()"
  (keydown.control.y)="redo()"
  (keydown.control.shift.z)="redo()">
</brs-canvas>

<brs-contextpanel
  @slide
  (document:keyup.escape)="canvas.focused$.emit(null)"
  *ngIf="(canvas.focused$ | async | relatedpiece : (state | async)) as ctx">

  <brs-contextpanel-section
    #scn
    i18n-caption
    caption="Scene {{state | relatedscene : canvas.focused}}"
    *ngIf="state | async as state"
    [collapsed]="scn.collapsed$ | startwith : false | async">
    <ng-container actions>
      <brs-action
        icon=paperremove
        (activated$)="remove(canvas.focused) || canvas.focused$.emit(null)"
        i18n-title
        title="Remove scene"></brs-action>
      <brs-action
        icon=paperdouble
        (activated$)="clonescene(canvas.focused)"
        i18n-title
        title="Clone scene"></brs-action>
      <brs-action
        icon=listadd
        (activated$)="addpiece(canvas.focused)"
        i18n-title
        title="Add piece"></brs-action>        
    </ng-container>
    <ng-template brs-section-content>
      <ng-container *ngIf="(state | incominglinks : (state | relatedscene : canvas.focused)) as incomings">
        <brs-contextpanel-section-group
          *ngIf="incomings.length > 0"
          i18n-caption
          caption="Incoming links"
          scenelinks>
          
          <brs-links-editor
            [links]="incomings"
            (unlink$)="unlink($event)"
            (goto$)="canvas.goto($event)"
            (focus$)="canvas.goto($event) || canvas.focused$.emit($event)"></brs-links-editor>
        </brs-contextpanel-section-group>
      </ng-container>
    </ng-template>
  </brs-contextpanel-section>
  <brs-contextpanel-section
    *ngIf="state | async as state"
    i18n-caption
    #act
    [collapsed]="act.collapsed$ | startwith : false | async"
    caption="Piece {{canvas.focused}}">
    <ng-container actions>
      <brs-action
        icon=listremove
        (activated$)="canvas.focused$.emit(null) || unpiece(canvas.focused)"
        i18n-title
        title="Remove piece"></brs-action>
      <brs-action
        icon=textdouble
        (activated$)="goto(canvas.focused)"
        i18n-title
        title="Clone piece"></brs-action>
      <brs-action
        *ngIf="ctx | linked as linkedscene"
        icon=eye
        (activated$)="canvas.goto(linkedscene)"
        i18n-title
        title="Go to linked scene"></brs-action>
    </ng-container>
    <ng-template brs-section-content>
      <brs-contextpanel-section-group i18n-caption caption="Piece summary">
        <brs-input
          #summary
          i18n-placeholder
          placeholder="Piece summary description"
          (focus$)="$event || editSummary(canvas.focused, summary.value)"
          [focus]="summary.focus$ | startwith : false | async"
          [caret]="summary.caret$ | async"
          [value]="summary.value$ | startwith : ctx.summary | async"></brs-input>
      </brs-contextpanel-section-group>
      <brs-contextpanel-section-group i18n-caption caption="Piece actions">
        <brs-actions-editor
          [actions]="state | actions : canvas.focused"
          (actions$)="editPiece(canvas.focused, { actions: $event })"
          (goto$)="canvas.goto($event)"></brs-actions-editor>
      </brs-contextpanel-section-group>
      <brs-contextpanel-section-group i18n-caption caption="Piece guards">
        <brs-guards-editor
          [guards]="state | guards : canvas.focused"
          (guards$)="editPiece(canvas.focused, { guards: $event })"></brs-guards-editor>
      </brs-contextpanel-section-group>
    </ng-template>
  </brs-contextpanel-section>
</brs-contextpanel>


<brs-statusbar>
  <brs-statusbar-section>
    <brs-action
      icon=bookedit
      i18n-title
      title="Open scenario"
      (activated$)="open()"></brs-action>
    <brs-action
      icon=bookdownload
      i18n-title
      title="Download canvas state"
      (activated$)="download()"></brs-action>
    <brs-action
      icon=bookplay
      [routerLink]="['play']"
      i18n-title
      title="Simulate scenario"></brs-action>
  </brs-statusbar-section>
  <brs-statusbar-section>
    <brs-action
      undo
      icon=undo
      i18n-title
      title="Go backwards in canvas history"
      (activated$)="undo()"></brs-action>
    <brs-action
      redo
      icon=redo
      i18n-title
      title="Go forward in canvas history" 
      (activated$)="redo()"></brs-action>
    <brs-action
      clear
      icon=clear
      i18n-title
      title="Clear canvas"
      (activated$)="clear()"></brs-action>
  </brs-statusbar-section>
  <brs-statusbar-section>
    <div gotoscene>
      <brs-action
        icon=booksearch
        i18n-title
        gotoscene
        (activated$)="canvas.goto(sceneorpiece.value)"
        title="Go to scene">
      </brs-action>
      <brs-input
        #sceneorpiece
        i18n-placeholder
        placeholder="scene&nbsp;or&nbsp;piece&nbsp;id"
        [focus]="sceneorpiece.focus$ | async"
        [caret]="sceneorpiece.caret$ | async"
        [value]="sceneorpiece.value$ | nolinebreaks | async"
        (keyup.enter)="canvas.goto(sceneorpiece.value)">
      </brs-input>
    </div>
  </brs-statusbar-section>
</brs-statusbar>


<router-outlet></router-outlet>
