<span i18n head type>Kind</span>
<span i18n head payload>Payload</span>
<span i18n head ops></span>

<ng-container *ngFor="let action of actions">
  <brs-action-type [type]="action.type"></brs-action-type>

  <brs-action-payload
    cell
    #editor
    [action]="action"
    (action$)="patch(action, $event)"></brs-action-payload>

  <div cell ops>
    <brs-action
      cell
      #delete
      icon=remove
      [focused]="delete.focused$ | async"
      (activated$)="unaction(action)"></brs-action>
  </div>

</ng-container>

<div lastrow>
  <brs-input
    #type
    i18n-placeholder
    placeholder="type"
    [focus]="type.focus$ | async"
    [caret]="type.caret$ | async"
    [value]="type.value$ | nolinebreaks | async"></brs-input>
</div>

<div lastrow>
  <brs-action-payload
    #adder
    [action]="adder.action$ | startwith : { type: type.value } | async"></brs-action-payload>
</div>

<div lastrow>
  <brs-action
    #add
    icon=add
    [focused]="add.focused$ | async"
    [disabled]="adder.action | invalid"
    (activated$)="append(adder.action)"></brs-action>
</div>