@import 'src/themes';

:host {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  brs-action {
    opacity: 0;
  }

  &:hover brs-action {
    opacity: 1;
  }
}

:host([vertical]) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}