@import 'src/themes';

:host {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: .25rem;
  border-style: solid;
  border-width: 1px;
  border-color: map-get($map: $theme, $key: 'shadow');
  color: map-get($map: $theme, $key: 'front');

  span:first-child {
    font-size: 1rem;
    padding: .25rem;
    text-decoration: underline;
    font-weight: bold;
  }

  span:last-child {
    font-size: 1rem;
  }
}
