<ng-container [ngSwitch]="conf.type">
  <ng-container *ngSwitchCase="'allin'">
    <span i18n-title title="Checks, if current value of `{{conf.key}}` contains all of `{{conf.value}}`">allin</span>
    <span>{{conf.key | namespace}}</span>
  </ng-container>
  <ng-container *ngSwitchCase="'allout'">
    <span i18n-title title="Checks, if current value of `{{conf.key}}` miss all of `{{conf.value}}`">allout</span>
    <span>{{conf.key | namespace}}</span>
  </ng-container>
  <ng-container *ngSwitchCase="'somein'">
    <span i18n-title title="Checks, if current value of `{{conf.key}}` contains some of `{{conf.value}}`">somein</span>
    <span>{{conf.key | namespace}}</span>
  </ng-container>
  <ng-container *ngSwitchCase="'someout'">
    <span i18n-title title="Checks, if current value of `{{conf.key}}` miss some of `{{conf.value}}`">someout</span>
    <span>{{conf.key | namespace}}</span>
  </ng-container>
  <ng-container *ngSwitchCase="'lt'">
    <span i18n-title title="Checks, if `{{conf.value}}` is less than current numeric value of `{{conf.key}}`">lt</span>
    <span>{{conf.key | namespace}}</span>
  </ng-container>
  <ng-container *ngSwitchCase="'lte'">
    <span i18n-title title="Checks, if `{{conf.value}}` is less than or equal to current numeric value of `{{conf.key}}`">lte</span>
    <span>{{conf.key | namespace}}</span>
  </ng-container>
  <ng-container *ngSwitchCase="'gt'">
    <span i18n-title title="Checks, if `{{conf.value}}` is greater than current numeric value of `{{conf.key}}">gt</span>
    <span>{{conf.key | namespace}}</span>
  </ng-container>
  <ng-container *ngSwitchCase="'gte'">
    <span i18n-title title="Checks, if `{{conf.value}}` is greater than or equal to current numeric value of `{{conf.key}}`">gte</span>
    <span>{{conf.key | namespace}}</span>
  </ng-container>
  <ng-container *ngSwitchCase="'eq'">
    <span i18n-title title="Checks, if `{{conf.value}}` is strictly equal to `{{conf.key}}`">eq</span>
    <span>{{conf.key | namespace}}</span>
  </ng-container>
  <ng-container *ngSwitchCase="'neq'">
    <span i18n-title title="Checks, if `{{conf.value}}` is strictly NOT equal to `{{conf.key}}`">neq</span>
    <span>{{conf.key | namespace}}</span>
  </ng-container>
</ng-container>
