@import 'src/themes';

:host {
  padding: .5rem;
  font-size: 2rem;
  font-weight: 300;
  color: map-get($map: $theme, $key: front);
  position: relative;
  cursor: pointer;
  
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10%;
    right: 10%;
    height: 1px;
    font-size: 0;
    display: block;
    background-color: map-get($map: $theme, $key: shadow);
  }
}
