@import 'src/mixins';
@import 'src/themes';

:host {
  @include interactive(map-get($map: $theme, $key: front));

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: map-get($map: $theme, $key: front);
  background-color: map-get($map: $theme, $key: shadow);
  padding: .5rem;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;

  &.active {
    @include emphasized(map-get($map: $theme, $key: front));
  }
}
