@import 'src/themes';

:host {
  background-color: opacify(map-get($map: $theme, $key: shadow), .6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  z-index: 2;
  padding: 0 20vmin;

  &:after {
    content: '';
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: radial-gradient(ellipse at center, rgba(255,255,255,.5) 0%, rgba(0,0,0,.8) 100%);
    background-size: 200vw 200vh;
    background-position: -50vw -100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    mix-blend-mode: overlay;
    pointer-events: none;
  }

  brs-sidepanel {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
  }
}