<brs-scene
  [state]="state | async"
  [pieces]="pieces | async"
  (state$)="state.next($event)"></brs-scene>

<brs-sidepanel>
  <brs-sidepanel-section class="material-icons" [routerLink]="['../../']">exit_to_app</brs-sidepanel-section>
</brs-sidepanel>
