@import 'src/themes';

:host {
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  margin: -.125rem;

  brs-chips {
    margin: .125rem;
  }

  brs-input {
    flex-grow: 1;
    flex-shrink: 1;
    margin: .125rem;
  }
}

:host(:focus-within) [value].emph {
  transition: none;
  outline-color: map-get($map: $theme, $key: front);
}
