<brs-chips
  @animated
  *ngFor="let val of value; let i = index; trackBy: tracker"
  [active]="focus && emphasized === val"
  (click)="remove(val) || fld.focus$.emit(true)">
  <ng-template
    [ngTemplateOutlet]="view || fallback"
    [ngTemplateOutletContext]="{ $implicit: val }"></ng-template>
</brs-chips>

<brs-input
  #fld
  [placeholder]="placeholder"
  [value]="searching | nolinebreaks"
  (value$)="searching$.emit($event)"
  (keyup.backspace)="atstart(fld.caret) && (emphasized
    ? remove(emphasized) || shift(-1)
    : emphasized$.emit(value[value.length - 1]))"
  (keyup.delete)="emphasized && atend(fld.caret) && remove(emphasized) || emphasized$.emit(undefined)"
  (keyup.arrowleft)="atstart(fld.caret) && shift(-1)"
  (keyup.arrowright)="atend(fld.caret) && shift(1)"
  (keyup.enter)="fld.value.trim() && value$.emit(value.concat(fld.value.trim()))"
  (keyup.enter)="fld.value.trim() && searching$.emit('')"
  (keyup.enter)="fld.value.trim() && fld.caret$.emit([0, 0])"
  [focus]="focus"
  (focus$)="focus$.emit($event)"
  [caret]="fld.caret$ | async">
</brs-input>


<ng-template #fallback let-val>{{val}}</ng-template>
