<div heading>
  <brs-action [icon]="collapsed ? 'expand' : 'retract'" (activated$)="collapsed$.emit(!collapsed)"></brs-action>
  <div caption>{{caption}}</div>
  <div actions>
    <ng-content select="[actions]"></ng-content>
  </div>
</div>
<div content *ngIf="!collapsed && dir">
  <ng-container *ngTemplateOutlet="dir.template"></ng-container>
</div>
