@import 'src/themes';
@import 'src/mixins';

:host {
  position: relative;
}

[heading] {
  background-color: map-get($theme, 'shadow');
  color: map-get($map: $theme, $key: front);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;

  [caption] {
    font-size: 1rem;
    flex-grow: 0;
    flex-shrink: 1;
    padding: 0 .5rem;
  }

  [actions] {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}

[content] {
  padding-bottom: 2rem;
}
