<ng-container [ngSwitch]="conf.type">
  <ng-container *ngSwitchCase="'set'">
    <div class="material-icons" i18n-title title="Set or append value `{{conf.value}}` to `{{conf.key}}` key">edit</div>
    <span>{{conf.key | namespace}}</span>
  </ng-container>
  <ng-container *ngSwitchCase="'delete'">
    <div *ngSwitchCase="'delete'" class="material-icons" i18n-title
      title="Removes value `{{conf.value}}` at key `{{conf.key}}`">block</div><span>{{conf.key | namespace}}</span>
  </ng-container>
  <ng-container *ngSwitchCase="'add'">
    <div *ngSwitchCase="'add'" class="material-icons" i18n-title
      title="Add `{{conf.value}}` to current value at key `{{conf.key}}`">add_circle</div>
    <span>{{conf.key | namespace}}</span>
  </ng-container>
  <ng-container *ngSwitchCase="'multiply'">
    <div *ngSwitchCase="'multiply'" class="material-icons" i18n-title
      title="Multiply current value at key `{{conf.key}}` by `{{conf.value}}`">cancel</div>
    <span>{{conf.key | namespace}}</span>
  </ng-container>
  <ng-container *ngSwitchCase="'negate'">
    <div *ngSwitchCase="'negate'" class="material-icons" i18n-title
      title="Negate current boolean value at key `{{conf.key}}`">exposure</div><span>{{conf.key | namespace}}</span>
  </ng-container>
  <ng-container *ngSwitchCase="'link'">
    <div *ngSwitchCase="'link'" class="material-icons" i18n-title
      title="Execution of this action lead player to scene {{conf.value}}">link</div><span>{{conf.value}}</span>
  </ng-container>
</ng-container>