<span i18n head>Scene id</span>
<span i18n head>Piece id</span>
<span i18n head>&nbsp;</span>

<ng-container *ngFor="let link of links">
  <div cell i18n>Scene {{link.scene}}</div>
  <div cell i18n>Piece {{link.piece}}</div>

  <div cell ops>
    <brs-action
      cell
      icon=chainbroken
      title="Delete incoming connection"
      [focused]="delete.focused$ | async"
      #delete
      (activated$)="unlink$.emit(link.piece)"></brs-action>

    <brs-action
      cell
      icon=eye
      title="Reveal piece that have link, leading here"
      [focused]="gotoact.focused$ | async"
      #gotoact
      (activated$)="goto$.emit(link.piece)"></brs-action>
  </div>

</ng-container>
