@import 'src/themes';

:host {
  display: grid;
  grid-template-columns: min-content auto min-content;
  align-items: center;
  align-content: center;
  grid-auto-rows: auto;
  flex-direction: row;
  justify-content: stretch;
  padding: .5rem;

  [head] {
    font-size: 1rem;
    color: map-get($map: $theme, $key: front);
    font-weight: 400;
    padding: .5rem;
    text-align: center;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: map-get($map: $theme, $key: front);
    white-space: nowrap;
  }

  [cell] {
    margin: .25rem;
    font-size: 1rem;
    color: map-get($map: $theme, $key: front);
    font-weight: 300;
    text-align: center;
    white-space: nowrap;

    &[ops] {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: stretch;
    }
  }
}