@function svg($viewbox, $content) {
  @return "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='#{$viewbox}'%3E#{$content}%3C/svg%3E";
}

@function svg-path-line($path, $color: 'black', $width: '1px') {
  @return "%3Cpath d='#{$path}' fill='none' style='stroke:rgba(#{red($color)},#{green($color)},#{blue($color)},#{opacity($color)});stroke-width:#{$width}'/%3E";
}



@mixin hoverable($color: 'black') {
  background-image:
    url("data:image/svg+xml,#{svg('0 0 10 10', svg-path-line('M0,10 v-10 h10', $color, 2px))}"),
    url("data:image/svg+xml,#{svg('0 0 10 10', svg-path-line('M0,0 h10 v10', $color, 2px))}"),
    url("data:image/svg+xml,#{svg('0 0 10 10', svg-path-line('M10,0 v10 h-10', $color, 2px))}"),
    url("data:image/svg+xml,#{svg('0 0 10 10', svg-path-line('M10,10 h-10 v-10', $color, 2px))}");
  background-repeat: no-repeat;
  background-position: left top, right top, right bottom, left bottom;
  background-size: 0 0;
  transition: background-size .17s ease-in-out;
  &:hover, &:focus, &:focus-within {
    background-size: 10px 10px;
    transition: background-position .1s ease-in-out;
    text-shadow: 0 0 1rem rgba(0, 0, 0, .8);
  }
}

@mixin interactive($color: 'black', $shift: 1.5px) {
  @include hoverable($color);
  cursor: pointer;

  &:active {
    background-position: $shift $shift, calc(100% - #{$shift}) $shift, calc(100% - #{$shift}) calc(100% - #{$shift}), $shift calc(100% - #{$shift});
    box-shadow: none;
    transition: none;
  }
}

@mixin emphasized($color: 'black') {
  outline-width: 1px;
  outline-style: solid;
  outline-offset: -1px;
  outline-color: $color;
}
