$theme : (
  back : rgba(40, 60, 90, 1),
  front : rgba(248, 177, 149, 1),
  accent1 : rgba(108, 91, 123, 1),
  accent2 : rgba(192, 96, 132, 1),
  accent3 : rgba(246, 114, 128, 1),
  shadow: rgba(0, 0, 0, .2)
);
