html, body { height: 100%; }
body { margin: 0; font-family: brsmain; user-select: none; font-size: 0; }
html { font-size: 14px; font-weight: 300; }

@font-face {
  font-family: "brsmain";
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/main.ttf');
}

@font-face {
  font-family: "brsiconed";
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/icons.otf');
}

* {
  box-sizing: border-box;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[iconify] {
  font-family: brsiconed;
  font-weight: normal;
  font-style: normal;
  font-size: 2.5rem;
  line-height: .7;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  text-shadow: 0 0 1rem rgba(0, 0, 0, .8);

  &:hover {
    text-shadow: 0 0 .5rem rgba(0, 0, 0, 1);
  }
}