@import 'src/themes';

:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  
  brs-scene-handle {
    flex-grow: 0;
    flex-shrink: 0;
    align-self: flex-start;
    margin-bottom: -1px;
    border-bottom-color: map-get($map: $theme, $key: 'back'); 
    background-color: map-get($map: $theme, $key: 'back');
    position: relative;
    z-index: 1;
    cursor: grab;
  }

  [content] {
    padding: .5rem;
    border-style: solid;
    border-color: map-get($map: $theme, $key: 'shadow');
    border-width: 1px;
    background-color: map-get($map: $theme, $key: 'back');
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }
}
